<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>MMMBites uses the camera to capture meal photos and scan friend QR codes.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ClashGrotesk-Extralight.otf</string>
		<string>ClashGrotesk-Light.otf</string>
		<string>ClashGrotesk-Regular.otf</string>
		<string>ClashGrotesk-Medium.otf</string>
		<string>ClashGrotesk-Semibold.otf</string>
		<string>ClashGrotesk-Bold.otf</string>
	</array>
</dict>
</plist>
